// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: var(--color-5);
  background-color: white;
  border-bottom: 2px solid lightgray;
  font-size: 4vw;
}

.transaction-container,
.group-container {
  background-color: #f1f3f2;
  margin-top: 5px;
  min-height: 70vh;
  padding-top: 10px;
}

.transaction,
.group-card {
  padding: 10px;
  color: var(--color-5);
  background-color: white;
  margin: 4px 10px;
  font-family: 'light', sans-serif;
  font-size: 4vw;
  border-bottom: 1px solid lightgray;
}
